:root {
    --mc: #222831; /* change these primary colors and fix stuff*/
    --mc2: #393E46;
    --mc3: #00ADB5;
    --mc4: #EEEEEE;

    font-size: 16px;
}

#bs-ovr{
    margin:0;
    padding: 0;
    /* background-color: var(--mc2); */
}

#bs-ovr .flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#bs-ovr .container-fluid{
    background-color: var(--mc);
}

#bs-ovr a{
    font-size: 34px;
    margin: 2px 1rem;
}


#bs-ovr .billing-container{
    display: flex;
    margin: 5em;
    width: 100em;
    height: 50em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
}

#bs-ovr .h1{
    font-size: 50px;
}

.form-container{
    display: grid;
    width: 90em;
    height: 40em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
}

.billing-header{
    grid-column: 1/span 2;
}

.form-part{
    font-size: 2rem;
}

input{
    width: 85%;
}

#p-price, #t-price{
    background-color: gray;
    color: white;
}
.form-button{
    margin: 10px 0px;
    width: 20rem;
    height: 4rem;
    font-size: 2rem;
}

#bs-ovr #t-price{
    grid-column: 1/span 2;
}

.dropbtn {
  background-color: white;
  color: black;
  padding-right: 8rem;
  font-size: 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#bs-ovr .about-container{
    display: flex;
    margin: 5em;
    width: 100em;
    height: 20em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dropdown-content button:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: var(--mc3);}
